<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>
    <title>PDF Search !</title>
</head>

<body>

    <nav class="navbar navbar-light bg-light ">
        <a class="navbar-brand " style="margin-left: 5%;">PDF Search</a>

        {% if history %}
            <div class="nav-item dropdown">
              <button class="btn dropdown-toggle"  id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                History
              </button>
              <ul class="dropdown-menu" aria-labelledby="navbarDarkDropdownMenuLink">
                {% for hist in history %}

                <li><a class="dropdown-item" href="{% url 'search:home' %}?historyq={{ hist.keyText }}" >{{ hist.keyText }}</a></li>

                {% endfor %}
              </ul>
            </div>
            {% endif %}

        <div class="form-group mr-auto row" style="width: 30%;">
            <div class="col">
                <input id="id_search" class="form-control form-control-sm  " type="search" placeholder="Search"
                    aria-label="Search">
            </div>
            <div class="col">
                <button id="search-btn" class="btn btn-sm btn-outline-success" type="submit">Search</button>
            </div>

        </div>
    </nav>
    <div class="container-fluid">
        <div class="row">
            {% for found in qs %}
            <div class="col mt-3">

                <a href="{{request.scheme}}://{{request.META.HTTP_HOST}}/{{found.pdf}}#page={{found.page|add:'1'}}"
                    target="_blank">

                    <img src="{{request.scheme}}://{{request.META.HTTP_HOST}}/{{found.image}}" alt="..."
                        class="img-thumbnail">

                </a>
            </div>
            {% if forloop.counter|divisibleby:4 %}
        </div>
        <div class="row">
            {% endif %}
            {% endfor %}
        </div>
    </div>
<script>
        $.fn.enterKey = function (fnc) {
            return this.each(function () {
                $(this).keypress(function (ev) {
                    var keycode = (ev.keyCode ? ev.keyCode : ev.which);
                    if (keycode == '13') {
                        fnc.call(this, ev);
                    }
                })
            })
        }

        $("#id_search").enterKey(function () {
            go()
        })

        $('#search-btn').attr('disabled', true);

        $('#id_search').val("{{ request.GET.search }}")


        // if ($("{{ request.GET.search }}" != '')) {
        //        alert("bell")
        //     } 

         search = "{{ request.GET.search }}";
         historyq = "{{ request.GET.historyq }}";

            if (search != '') {

               $('#id_search').val(search);
            }else if(historyq != ''){
                $('#id_search').val(historyq);
            }


        if ($('#id_search').val() != '') {
                $('#search-btn').attr('disabled', false);
            } else {
                $('#search-btn').attr('disabled', true);
            }

        $('#id_search').on('keyup', function () {

            var text_value = $('#id_search').val();

            if (text_value != '') {
                $('#search-btn').attr('disabled', false);
            } else {
                $('#search-btn').attr('disabled', true);
            }
        });

        $('#search-btn').on('click', function (event) {
            go()
        });

        function go() {
            param = $('#id_search').val()

            if (param != "") {
                url = "{% url 'search:home' %}?search=" + param

                window.location.href = url;
            }
        }
    </script>
</body>
</html>